<section>
    <div id="Wrapper_Lenders">
        <div id="Container_Lenders">
            <h2>MY LENDERS</h2>
            <ul class="tabs">
                    <li class="active"><a href="#tab1">1</a></li>
                    <li><a href="#tab2">2</a></li>
                    <li><a href="#tab3">3</a></li>
                    <li><a href="#tab4">4</a></li>
            </ul>
            <div class="tab_container">


                    <div id="tab1" class="tab_content" style="display: block;">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/scotiabank.png" height="59" alt="Scotia Bank">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/td.png" height="59" alt="TD Bank">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/firstnational.png" height="59" alt="First National">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/eqbank.png" height="59" alt="EQ Bank">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/mcap.png" height="59" alt="MCAP">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/merix.png" height="59" alt="Merix">
                    </div>
                    <div id="tab2" class="tab_content" style="display: none;">
                                    <img class="pg1" src="https://www.mortgageweb.ca/images/logo/lender/hometrust.png" height="59" alt="Home Trust">
                                    <img class="pg1" src="https://www.mortgageweb.ca/images/logo/lender/cmls.png" height="59" alt="CMLS">
                                    <img class="pg1" src="https://www.mortgageweb.ca/images/logo/lender/manulife.png" height="59" alt="Manulife">
                                    <img class="pg1" src="https://www.mortgageweb.ca/images/logo/lender/rfa.png" height="59" alt="RFA">
                                    <img class="pg1" src="https://www.mortgageweb.ca/images/logo/lender/b2b.png" height="59" alt="B2B Bank">
                                    <img class="pg1" src="https://www.mortgageweb.ca/images/logo/lender/communitytrust.png" height="59" alt="Community Trust">
                    </div>
                    <div id="tab3" class="tab_content" style="display: none;">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/lifecycle.png" height="59" alt="Lifecycle Mortgage">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/icicibank.png" height="59" alt="ICICI Bank">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/radius.png" height="59" alt="Radius Financial">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/homeequity.png" height="59" alt="HomeEquity Bank">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/cmi.png" height="59" alt="CMI">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/bridgewater.png" height="59" alt="Bridgewater">
                    </div>
                    <div id="tab4" class="tab_content" style="display: none;">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/sequencecapital.png" height="59" alt="Sequence Capital">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/wealthone.png" height="59" alt="Wealth One">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/fisgard.png" height="59" alt="Fisgard Capital">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/bloom.png" height="59" alt="Bloom Financial">
                                    <img class="pg2" src="https://www.mortgageweb.ca/images/logo/lender/nationalbank.png" height="59" alt="NationalBank">
                    </div>

            </div>
        </div>
    </div>
</section>

<footer>
    <div id="Wrapper_Footer">
        <div id="Container_Footer">
            <h3><span class="colour_Broker"><a href="/EN/18347/ContactMe">CONTACT ME</a></span> today to find out how <strong>I can HELP YOU SAVE</strong>.</h3>
            <div class="clear"></div>
            <div id="Footer_Logo">
                <a href="https://metalmortgage.ca" target="_blank"><img src="https://companylogos.mortgageweb.ca/539_company.png" style="max-width:160px;max-height:70px;margin:0 0 10px 0 !important;" alt="Office Logo"></a>
            </div>
            <div id="Footer_Disclaimer">
                <div style="font-size:10px;font-style:italic;margin-bottom:3px;">Proud member of</div>
                <a href="https://www.verico.ca" target="_blank"><img src="/Images/logo/Logo_Verico_Retina.png" style="width:160px;margin-bottom:10px;" alt="Verico Financial Group Inc."></a><br>
                <a href="/18347/Terms">Privacy Policy</a> | <a href="https://www.verico.ca/privacypolicy-fr/" target="_blank">Politique de confidentialité</a><br>
                <div style="margin:10px 0;">Each member is an independently owned and operated mortgage brokerage.<br>Copyright © Verico Financial Group Inc. All rights reserved.</div>
            </div>
        </div>
    </div>
</footer>