<div class="two-columns">
    <div class="left-column">
      <img src="https://agentphotos.mortgageweb.ca/18347_profile.png" alt="Profile" class="profile-image">
      <div class="button-group" id="button-group">
        <button class="primary-button">ARRANGE A CALL BACK</button>
        <button class="secondary-button">CONTACT ME</button>
        <button class="secondary-button">CALCULATORS</button>
        <button class="secondary-button">DOCUMENTS</button>
      </div>
    </div>
    
    <div class="right-column">
      <div class="profile-header">
        <h1>Daniel Char</h1>
        <h2>Principal Broker</h2>
      </div>
  
      <div class="contact-info">
        <div class="info-row">
          <span class="label">Office:</span>
          <a href="#" class="value link">Metal Mortgage</a>
        </div>
        
        <div class="info-row">
          <span class="label">Phone:</span>
          <a href="tel:647.748.9010" class="value link">647.748.9010</a>
        </div>
        
        <div class="info-row">
          <span class="label">Email:</span>
        <a href="mailto:daniel@metalmortgage.ca" class="value link">danielmetalmortgage</a>
        </div>
        
        <div class="info-row">
          <span class="label">Address:</span>
          <span class="value">38 Iannuzzi Street, Toronto, Ontario</span>
        </div>
      </div>
        <div class="Wrapper_Form" id="wrapper-form">
            <div itemprop="name">Daniel Char</div>
            <br>
                <div><a href="https://metalmortgage.ca" target="_blank">Metal Mortgage</a></div>
            <br>
                <div itemprop="telephone">Phone: 647.748.9010</div>
            <br>
                                                                                                            <div>Email: <a href="mailto:daniel@metalmortgage.ca">danielmetalmortgage.ca</a></div>
            <br>
                <div itemprop="address">38 Iannuzzi Street</div>
                <span itemprop="addressLocality">Toronto</span>
                <span itemprop="addressRegion">,&nbsp;Ontario</span>
                <span itemprop="postalCode">&nbsp;M5V0S2</span>
                <br><br>
            <div class="clear"></div>
            <iframe width="525" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=38+Iannuzzi+Street,Toronto,Ontario&amp;output=embed"></iframe>
        </div>
    </div>
  </div>